<ion-header [translucent]="true" [class.hotfix]="hotfix">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title> 
      <div class="logo-wrapper">
        <img src="../../../../../assets/icon/usina_play_logo.png" /> 
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <div class="notification-button">
        <ion-icon name="notifications" slot="icon-only"></ion-icon>
        <div class="notification-indicator"></div>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>