:root {
    --app-light-background: #202020;
    --app-dark-background: #090909;
    --app-primary-color: #FFFFFF;
    --app-secondary-color: #F07D07;
    --app-accent-color: #7DF0D3;
    --app-secondary-background-color: #161616;
    --app-button-shadow-color: #040404;
}